In [18]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
df = pd.read_csv("staff update.csv")

In [3]:
df.head()

      Retrenchment  Will be retrenched          Promotion
0  Abbey Schindler                   0  Adelaide L Harrop
1    Abe J Macleod                   0       Aiko Blossom
2      Abe Morales                   0     Alexis Q Grose
3       Abe X Paro                   0    Aliza X Sammons
4   Abram Q Keffer                   0    America V Lobel

In [16]:
df1 = df[['Retrenchment']]
df1.head(2)

      Retrenchment
0  Abbey Schindler
1    Abe J Macleod

In [15]:
df2 = df[['Promotion']]
df2.rename(columns = {'Promotion':'Retrenchment'}, inplace=True)
df2.head(2)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_12356\1844100121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns = {'Promotion':'Retrenchment'}, inplace=True)

        Retrenchment
0  Adelaide L Harrop
1       Aiko Blossom

In [26]:
result = list(reduce(set.intersection, map(set, [df1.Retrenchment, df2.Retrenchment])))
result

['Julius Q Stock',
 'Ken X Weisberg',
 'Devin Hales',
 'Detra D Rymer',
 'Jon Arvizu',
 'Elsy B Latta',
 'Taylor Thill',
 'Toney W Bollman',
 'Alexis Q Grose',
 'Jamel Meaney',
 'Adelaide L Harrop',
 'Amiee Z Chaffins',
 'Reinaldo G Castellanos',
 'America V Lobel',
 'Mack L Lykes',
 'Fernando S Korhonen',
 'Maximina K Frates',
 'Jeneva Y Bybee',
 'Toya B Rawlins',
 'Jon Behler',
 'Valene Z Woodmansee',
 'Jeff E Lucero',
 'Buck H Rancourt',
 'Carolynn V Moynihan',
 'Jerlene P Dunnigan',
 'Vaughn Garica',
 'Carmelia E Bergeron',
 'Sheryll X Broadbent',
 'Renaldo K Cheatham',
 'Kylie K Freda',
 'Carolin T Loya',
 'Narcisa C Rayburn',
 'Jordan Phu',
 'Keira Y Till',
 'Stephan Q Ranger',
 'Inocencia Z Buteau',
 'Walton S Keim',
 'Candelaria Zajicek',
 'Aliza X Sammons',
 'Celine Baskin',
 'Clemente S Wiechmann',
 'Cecily D Houser',
 'Garrett S Nolette',
 'Garnett Dryer',
 'Jamaal Z Resto',
 'Kendrick C Burchette',
 'Larry K Mash',
 'Susana H Hooks',
 'Vernell X Amado',
 'Kenton Q Villalta',
 'Aiko Blossom',
 'Carlotta T Ryles',
 'Jayson S Carrol',
 'Kaye Tubbs',
 'Scott D Torrey',
 'Nettie T Mccandless',
 'Deanna P Scoggin',
 'Jolanda Dewees',
 'Christie Rodger',
 'Andrew Detweiler',
 'Loren H Mckenzie',
 'Tiny Q Llanos',
 'Brendon E Mone',
 'Patria D Riedel',
 'Stewart Mazurek',
 'Taneka Q Church',
 'Dulce E Grizzard',
 'Laurena P Caston',
 'Edmund Mcclung',
 'Therese Q Belden',
 'Mauricio I Streets',
 'Janie P Caswell']

In [13]:
df['cf'] = df[['Retrenchment','Promotion']].apply(
    lambda x: set(pd.eval(x['Retrenchment'])).intersection(pd.eval(x['Promotion'])),
    axis=1)
print(df['cf'])

SyntaxError: invalid syntax (<unknown>, line 1)

In [10]:
df[df['Retrenchment'] == df['Promotion']].value_counts()

Series([], dtype: int64)

In [6]:
staff = df.apply(pd.value_counts).notna()
output= staff.index[staff.all(axis=1)].tolist()
print(output)

[]